<div id="budgets">
  <h2>Budget</h2>
  <span class="today"><%= Date.today.strftime("%B %Y") %></span>

  <div class="dashboard budgets">
    <div class="category"></div>
    <div class="progress-range">0%<span>100%</span></div>
    <div class="budget">Budget</div>
    <div class="left-over">Left/Over</div>
    <% budgets.spending.each do |budget| %>
      <div class="item">
        <div class="category links"><%= budget.category %></div>
        <div class="progress"></div>
        <div class="budget">$ <span class="end"><%= budget.amount %></span></div>
        <div class="left-over <%= considering_the_sign budget.amount - current_user.transactions_sum_by_category(budget.category)%>">
          $ <%= budget.amount - current_user.transactions_sum_by_category(budget.category) %>
        </div>
        <span class="start hidden">
          <%= current_user.transactions_sum_by_category(budget.category) %>
        </span>
      </div>
    <% end %>
  </div>
</div>
