<div id="dashboard">

  <aside>
    <div class="left-side">
      <div id="current_user">
        <div class="main_info">
          <%= image_tag current_user.avatar(:medium) %>
          <div class="user_info">
            <%= current_user.first_name %><br />
            <%= current_user.last_name %>
            <span class="user_address">
              <%= current_user.country %>
            </span>
          </div>

        </div>
        <div class="test_info">
          <div class="test_progress">
            <div class="item">
              <div class="start">0</div>
              <div class="end">100</div>
              <div class="progress"></div>
            </div>
          </div>
          <%= acumen_test_menu(current_user, current_page_menu('acumen_tests')) %>
        </div>
        <div class="totems">
          My totems <span>0</span>
          <div>
            <div class="totem first"></div>
            <div class="totem second"></div>
            <div class="totem"></div>
            <div class="totem"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="left-side">
      <h3>Top users</h3>
    </div>

    <div class="left-side">
      <h3>My friends</h3>
    </div>

    <div class="left-side">
      <h3>Videos</h3>
    </div>

    <div class="left-side">
      <h3>Articles</h3>
    </div>
  </aside>

  <div id="user-info">
    <div class="block right">
      <%= render 'goals', :goals => @goals %>
      <%= render 'budgets', :budgets => @budgets %>
      <%= render 'historical_spending', :spending => @spending_transactions %>
    </div>
  </div>

</div>

<%= javascript_tag do  %>
  $('.dashboard.budgets').progressBar();
  $('.test_progress').progressBar();
<% end %>