<h3>Statement of Cash Inflows &amp; Outflows</h3>

<p>
  What information do I need to gather before taking this test?
</p>
<ul>
  <li>Payslips</li>
  <li>Dividend details (listed and private companies)</li>
  <li>Coupon payments (for bonds)</li>
  <li>Business income (for entrepreneurs/self-employed)</li>
  <li>Pension payment (if retired and drawing a pension)</li>
  <li>Details of gifts/grants (for students, volunteers, pro-bono workers)</li>
  <li>Alimony/child support receipts/payments</li>
  <li>Utility bills</li>
  <li>Interest payments on all loans</li>
</ul>
<p>This evaluation should take you 15–20mins</p><br /><br />

<table>
  <thead>
    <tr>
      <th>Income (cash inflows) average monthly amounts unless stated otherwise</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for answer in test_answers[81...83] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <% if test_answers[83] %>
      <% answer = test_answers[83] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
              <%= answer_form.hidden_field :code  %>
              <%= answer_form.hidden_field :question %>
              <%= answer.question %>
            </td>
          <td><%= answer_form.check_box :result, :id => "apply_paye"%></td>
        </tr>
      <% end %>
    <% end %>
    <% for answer in test_answers[84...92] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <% if test_answers[92] %>
      <% answer = test_answers[92] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
              <%= answer_form.hidden_field :code  %>
              <%= answer_form.hidden_field :question %>
              <%= answer.question %>
            </td>
          <td><%= answer_form.check_box :result, :id => "apply_income_tax" %></td>
        </tr>
      <% end %>
    <% end %>

    <% if test_answers[93] %>
      <% answer = test_answers[93] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
              <%= answer_form.hidden_field :code  %>
              <%= answer_form.hidden_field :question %>
              <%= answer.question %>
            </td>
          <td><%= answer_form.text_field :result %></td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td><strong>Total income</strong></td><td></td>
    </tr>
    <tr>
      <td>
        <strong>Expenditures (cash outflows) average monthly amounts unless stated otherwise</strong>
      </td>
      <td></td>
    </tr>
    <% for answer in test_answers[94...110] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table><br /><br />

Finally, 2 simple questions
<% for answer in test_answers[110...112] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %>
      <%= answer_form.select :result, (1..99).to_a, :selected => (answer.result || "22") %>
    <% end %>
  </p>
<% end %>
