<h3>Quantitative Test</h3>

<p>
  What information do I need to gather before taking this test?
</p>
<ul>
  <li>Life insurance policy</li>
  <li>Bank account statement</li>
  <li>Certificate(s) of deposit</li>
  <li>Brokerage account statement</li>
  <li>Inventory of big ticket items in home</li>
  <li>Outstanding loan balances</li>
  <li>Investment term sheets (for entrepreneurs who used outside capital)</li>
</ul>
<p>This evaluation should take 15–20mins</p><br /><br />


<table>
  <thead>
    <tr>
      <th>Determination of Net worth Table Assets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for answer in test_answers[58...66] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td><strong>Total market value of investments</strong></td>
      <td></td>
    </tr>

    <% for answer in test_answers[66...74] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td><strong>Total assets</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Liabilities</strong></td>
      <td></td>
    </tr>

    <% for answer in test_answers[74...81] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
            <%= answer.question %>
          </td>
          <td>
            <%= answer_form.text_field :result %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <tr>
      <td><strong>Total liabilities</strong></td>
      <td></td>
    </tr>

    <tr>
      <td><strong>Net worth (assets – liabilities)</strong></td>
      <td></td>
    </tr>
  </tbody>
</table>

<p>
  There are a number of ways to increase your net worth:
</p>
<ul>
  <li>Appreciation of assets (for example, a rise in the value of stocks, bonds, funds, and real estate)</li>
  <li>Reducing liabilities. This also reduces the amount of interest payments made to service the debt</li>
  <li>Increasing your income, such as through salary and wage increases, and increases in investment income</li>
  <li>Reducing the amount spent on living expenses</li>
</ul>
<p>
  BEWARE! Increasing your assets may not always increase your net worth.
  This is especially true with depreciating assets, such as automobiles, computers, home entertainment systems, etc.
</p>