<h3>Qualitative Test</h3>

<p>
  What information do I need to gather before taking this test?
</p>

<ul>
  <li>Absolutely nothing but an open mind!</li>
</ul>
This evaluation should take you 10–15 mins<br />
Personality Typing Questionnaire<br /><br />


<% if test_answers[57] %>
  <% answer = test_answers[57] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %>
    <% end %>
  </p>
<% end %>


<% for answer in test_answers[0...28] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

<% if test_answers[28] %>
  <% answer = test_answers[28] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_2.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %><br />
        <% end %><br />
      <% end %>
    <% end %>
  </p>
<% end %>

<% if test_answers[29]  %>
  <% answer = test_answers[29] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_3.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

Have financial setbacks from any of the following events significantly affected you or your parents? Tick as appropriate.<br /><br />
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Me</th>
      <th>Parent</th>
      <th>Neither</th>
      <th>Both</th>
    </tr>
  </thead>
  <tbody>
    <% for answer in test_answers[30...44] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer.question %>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
          </td>
          <% Answer::ANSWERS_4.each do |key| %>
            <% key.each do |k,v| %>
              <td><%= answer_form.radio_button :result, k %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br />


<% if test_answers[44]  %>
  <% answer = test_answers[44] %>
  <%= f.fields_for :answers, answer do |answer_form| %>
    <p>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_5.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

In which of the following domains do you have unmet life goals and aspirations? Tick as appropriate.
<p>
  <% for answer in test_answers[45..50] %>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <tr>
        <td>
          <%= answer_form.check_box :result %>
          <%= answer.question %>
          <%= answer_form.hidden_field :code %>
          <%= answer_form.hidden_field :question %><br />
        </td>
      </tr>
    <% end %>
  <% end %>
</p>

<% if test_answers[51]  %>
  <% answer = test_answers[51] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_6.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

After you retire, what are likely to be your financial priorities? (Please rank from 1–3, where 1 is most important)
<% for answer in test_answers[52...55] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer_form.text_field :result %>
      <%= answer.question %>
    <% end %>
  </p>
<% end %>

<% if test_answers[55] %>
  <% answer = test_answers[55] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />
      <%= answer_form.text_field :result, :class => "custom_result"%>
      <span class="result_fields">
        <% 5.times do |i| %>
          <%= i+1 %>. <%= text_field_tag :result_field %><br />
        <% end %><br />
      </span>
    <% end %>
  </p>
<% end %>

<% if test_answers[56] %>
  <% answer = test_answers[56] %>
  <%= f.fields_for :answers, answer do |answer_form| %>

    <p>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    </p>

  <% end %>
<% end %>
