<h3>Qualitative Test</h3>

<p>
  What information do I need to gather before taking this test?
</p>

<ul>
  <li>Absolutely nothing but an open mind!</li>
</ul>
This evaluation should take you 10–15 mins<br />
Personality Typing Questionnaire<br />
You shouldn’t tell others how much you have<br />
<ul>
  <% Answer::ANSWERS.each do |key| %>
    <% key.each do |k,v| %>
      <li><%= v %></li>
    <% end %><br />
  <% end %><br />
</ul>

<% for answer in test_answers[0...28] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

<% if test_answers[28] %>
  <% answer = test_answers[28] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_2.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %><br />
        <% end %><br />
      <% end %>
    <% end %>
  </p>
<% end %>

<% if test_answers[29]  %>
  <% answer = test_answers[29] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_3.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

Have financial setbacks from any of the following events significantly affected you or your parents? Tick as appropriate.<br /><br />
<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Me</th>
      <th>Parent</th>
      <th>Neither</th>
      <th>Both</th>
    </tr>
  </thead>
  <tbody>
    <% for answer in test_answers[30...44] %>
      <%= f.fields_for :answers, answer do |answer_form| %>
        <tr>
          <td>
            <%= answer.question %>
            <%= answer_form.hidden_field :code %>
            <%= answer_form.hidden_field :question %>
          </td>
          <% Answer::ANSWERS_4.each do |key| %>
            <% key.each do |k,v| %>
              <td><%= answer_form.radio_button :result, k %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table><br />


<% if test_answers[44]  %>
  <% answer = test_answers[44] %>
  <%= f.fields_for :answers, answer do |answer_form| %>
    <p>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_5.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

<% if test_answers[45]  %>
  <% answer = test_answers[45] %>
  <p class="checkboxes">
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />


      <%= answer_form.text_field :result, :value => "", :class => "custom_result" %>
      <% Answer::ANSWERS_6.each do |key| %>
        <%= check_box_tag :answer_result %>
        <%= key %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

<% if test_answers[46]  %>
  <% answer = test_answers[46] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS_7.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    <% end %>
  </p>
<% end %>

<% for answer in test_answers[47...50] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer_form.text_field :result %>
      <%= answer.question %>
    <% end %>
  </p>
<% end %>

<% if test_answers[50]  %>
  <% answer = test_answers[50] %>
  <p>
    <%= f.fields_for :answers, answer do |answer_form| %>
      <%= answer_form.hidden_field :code  %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />
      <%= answer_form.text_field :result, :class => "custom_result"%>
      <span class="result_fields">
        <% 5.times do |i| %>
          <%= i+1 %>. <%= text_field_tag :result_field %><br />
        <% end %><br />
      </span>
    <% end %>
  </p>
<% end %>

<% if test_answers[51] %>
  <% answer = test_answers[51] %>
  <%= f.fields_for :answers, answer do |answer_form| %>

    <p>
      <%= answer_form.hidden_field :code %>
      <%= answer_form.hidden_field :question %>
      <%= answer.question %><br /><br />

      <% Answer::ANSWERS.each do |key| %>
        <% key.each do |k,v| %>
          <%= answer_form.radio_button :result, k %>
          <%= v %>
        <% end %><br />
      <% end %><br />
    </p>

  <% end %>
<% end %>
