- n = 0
- @questions[:"#{id}"].each do |k,v|
	- if v[:type] == "_slider"
		- name = "#{Question::CASHFLOW[:_prefix]}_#{v[:id]}"
		- value = v[:default_value]
		- value = @tests[:"#{name}"][:answer] if @tests[:"#{name}"]
		.slider
			%h3=v[:sentence]
			%br
			%input.question-id{:type=>'hidden', :name=>"question_id[]", :value=>"#{name}"}
			%input.answer{:type=>'text', :name=>"answer[#{name}]", :id=>"#{name}", :value=>value}
			%label=v[:unit]
			.slider-bar{:idd=>name, :default_value=>value}
			%br
			%br
	- else
		- n = n + 1
		.cell.left{:class=>v[:class]}
			.title
				= raw v[:sentence]
				- if v[:type] == "_presence" or v[:type] == "_check"
					%span *
			.unit{:class=>((v[:type]=="_check")?"none":"") }
			.input
				- name = "#{Question::CASHFLOW[:_prefix]}_#{v[:id]}"
				- value = ""
				- value = @tests[:"#{name}"][:answer] if @tests[:"#{name}"]
				- if v[:type] == "_presence" or v[:type] == "_normal"
					%input.question-id{:type=>'hidden', :name=>"question_id[]", :value=>"#{name}"}
					%input.answer{:type=>'text', :name=>"answer[#{name}]", :class=>((v[:type] == "_presence")?'required':''), :value=>value}
				- elsif v[:type] == "_check"
					.check-group
						- _class = v[:class]
						- if v[:value]==value.to_s
							- _class = _class + " selected"
							-_class1 = "hidden"
						- if value == "y"
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'y', :class=>"display radio", :checked=>"checked"}
						- else
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'y', :class=>"display radio"}
						Yes	
						%br
						- if value == "n"
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'n', :class=>"display radio", :checked=>"checked"}
						- else
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'n', :class=>"display radio"}
						No	
						%br
						- if value == "e"
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'e', :class=>"display radio", :checked=>"checked"}
						- else
							%input{:type=>'radio',:name=>"answer[#{name}]", :value=>'e', :class=>"display radio"}
						I am exempt from PIT/PAYE
	- if v[:clear_line]!=nil && v[:clear_line]==true
		.clear