<h3>Quantitative test result</h3>

<p>Your current ratio is <i><%= acumen_test.quantitative_result[:current_ratio] %></i></p>
<p>Your debt ratio is <i><%= acumen_test.quantitative_result[:debt_ratio] %></i></p>
<p>Your New worth is <i><%= acumen_test.quantitative_result[:net_worth] %></i></p>
<p>Your Total assets is <i><%= acumen_test.quantitative_result[:total_assets] %></i></p>
<p>Your New worth to income ratio is <i><%= acumen_test.quantitative_result[:net_worth_to_income_ratio] %></i></p>
