<h1>Create the Acumen Test</h1>

<%= form_for @acumen_test do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <% @acumen_test.answers.each do |answer| %>
    <%= f.fields_for :answers, answer do |answer_form| %>
    <p>
      <%= answer_form.hidden_field :code  %>
      <%= answer.question_title %><br /><br />

      <% (0..4).each do |n| %>
        <%= answer_form.radio_button :result, Answer::ANSWERS[n] %>
        <%= Answer::ANSWERS_TITLES[n] %><br />
      <% end %><br />
    </p>
    <% end -%>
  <% end %>

  <%= f.submit "Submit" %>
<% end -%>

