<h1>Acumen Test</h1>
<p>We are working now on this test implementation...</p>

<p>Acumen test status: <%= @acumen_test.finished? %></p>
<p>Result <i>(if present)</i>: <%= current_user.acumen_tests.first.try(:result) %></p>
<br />
<%= acumen_test_menu(current_user) %>

<%= render 'acumen_test_results', :acumen_test => @acumen_test if @acumen_test.qualitative_test_finished? %>
<br /><br />
<p>If you would like to to reenter the Acumen Test, click <%= link_to "here", new_acumen_test_path %></p>
