<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name %></div>

  <div>
    <%= f.label :last_name, "Last Name" %><br />
    <%= f.text_field :last_name %></div>

  <div>
    <%= f.label :country, "Country" %><br />
    <%= f.select :country, Carmen::country_names  %></div>

  <div>
    <%= f.label :phone_number, "Phone number" %><br />
    <%= f.text_field :phone_number %></div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %></div>

  <div><%= f.label :age %>
    <%= f.select :age, User::USER_AGES %></div>

  <div>
    <%= f.label :gender %>
    <%= f.select :gender, User::GENDERS %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %></div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

  <div>
    <%= f.check_box :tos_confirmation %>
    <%= f.label :tos_confirmation, "I agree to the Terms of Use" %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
