.title
  Your
  %span Fun, Free & Fast
  %br
  way to organize your money

.form
  = link_to "Get invited", '#', class: 'get_invited'
  %p= link_to_rpx "Already a member?", user_session_url

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    %span.line.dear Dear 24-7,
    %span.line
      My name is
      .error-field
        = f.text_field :first_name, type: 'text'
        - if resource.errors[:first_name].any?
          .field_with_errors= resource.errors[:first_name][0]
      and my email addres is
    %span.line
      .error-field
        = f.text_field :email, type: 'email'
        - if resource.errors[:email].any?
          .field_with_errors= resource.errors[:email][0]

      \. Please let me know when Budget 24-7
    %span.line
      is ready for me.

    .actions
      = f.submit 'Request invite'
    %span.watermark

- if resource.errors.any?
  :javascript
    $(document).ready(function(){
      var link = $('.get_invited')
      link.click();
    })

:javascript
  $('.get_invited').click(function() {
    $(this).parents('.form').addClass('active');
    $('body').animate({
      scrollTop: $('#wrapper .title').offset().top + 50 + 'px'
    }, 1000)
  })

<script type="text/javascript" src="/assets/cluster.js"></script>
