<div id="incomes">
  <h3>Income</h3>
  <i>Amount: <%= @income_budgets.map(&:amount).sum %></i>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "add income", new_budget_path(:category => 'Income') %>
  <hr />
  <% if @income_budgets.any? %>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @income_budgets.each do |income| %>
        <tr>
          <td><%= income.category %></td>
          <td><%= income.amount %></td>
          <td><small><i>Created at: <%=l income.created_at, :format => :default %></i></small></td>
          <td><small><i><%= link_to "edit", edit_budget_path(income, :category => income.category) %></i></small></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<br />
<div id="spending">
  <h3>Spending</h3>
  <i>Amount: <%= @spending_budgets.map(&:amount).sum %></i>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "add spending", new_budget_path %>
  <hr />
  <% if @spending_budgets.any? %>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Amount</th>
          <th>Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @spending_budgets.each do |spending| %>
        <tr>
          <td><%= spending.category %></td>
          <td><%= spending.amount %></td>
          <td><small><i>Created at: <%=l spending.created_at, :format => :default %></i></small></td>
          <td>
            <small><i><%= link_to "edit", edit_budget_path(spending, :category => spending.category) %></i></small>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
