<%= form_for @budget, :remote => true do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field" <%= display_if(params[:category].nil?) %>>
    <% if  params[:category].nil? %>
      <p><%= f.label :category, 'Choose a category' %></p>
      <%= f.select :category, Transaction::CATEGORIES %>
    <% else %>
      <p><%= f.label :category %></p>
      <%= f.select :category, Transaction::CATEGORIES, :selected => (params[:category] unless params[:category].nil?) %>
    <% end %>
  </div>

  <div class="field radios">
    <p>When will this happen?</p>

    <div class="radiogroup">
      <%= radio_button_tag "period", "monthly" %>
      <%= label_tag "period_monthly", "Every month" %>

      <%= radio_button_tag "period", "few_month" %>
      <%= label_tag "period_few_month", "Every few month" %>

      <%= radio_button_tag "period", "once", true %>
      <%= label_tag "period_once", "Once" %>
    </div>
  </div>

  <div class="field">
    <p><%= f.label :amount %></p>
    &#8358; <%= f.text_field :amount %>
  </div>
  <div class="field">
    <p><%= f.label :tag_list %></p>
    <%= f.text_field :tag_list %>
  </div>
  <div class="period hidden">
    every <%= select_tag :period, options_for_select(period_select, @budget.period) %>
  </div>
  <div class="start">
    <% if !@budget.new_record? && !@budget.start.nil? %>
      <div class="hidden" id="budget_year"><%= @budget.start.year %></div>
      <div class="hidden" id="budget_month"><%= @budget.start.month %></div>
    <% end %>
    My next is in <%= f.date_select :start, :use_short_month => true,
                                            :discard_day => true,
                                            :start_year => Time.now.year %>
  </div>
  <div class="field hidden"><%= f.text_field :period %></div>

  <div class="actions hidden"><%= f.submit %></div>
<% end %>
