<div class="block">
  <h1>Budgets</h1>

  <div id="budgets_search_container">
    <%= form_tag budgets_path, :method => "get", :id => 'budgets_search' do %>
      <%= text_field_tag :budgets_search_start, params[:budgets_search_start],
                         :class => "datepicker", :placeholder => "Start date" %>
      <%= text_field_tag :budgets_search_end, params[:budgets_search_end],
                         :class => "datepicker", :placeholder => "End date" %>
      <%= submit_tag "Search by period" %> or <%= link_to "view all", budgets_path, :id => "view_all_budgets" %>
    <% end -%>
  </div>

  <br />
  <div id="result">
    <%= render 'budgets' %>
  </div>

  <br />
  <div id="goals">
    <h3>Goals</h3>
    <hr />
    <p>
      Goals comming soon...
    </p>
  </div>

  <br />
  <%= link_to "View all Budgets", list_budgets_path %> or <%= link_to 'Create New Budget', new_budget_path %>
</div>
<br />
<h3>Budgets totals</h3>
<table>
  <tr>
    <th>Category:</th>
    <th>Sum by transactions:</th>
    <th>Total:</th>
  </tr>
  <% @budgets.each do |budget| %>
  <tr>
    <td><%= budget.category %></td>
    <td><%= current_user.transactions_sum_by_category(budget.category) %></td>
    <td><%= budget.amount - current_user.transactions_sum_by_category(budget.category) %></td>
  </tr>
  <% end %>
</table>
