<h1>Budgets</h1>

<div class="block" id="budgets">
  <div id="budgets_calendar">
    <div class="budgets-months"></div>
    <div class="predefined">
      <%= link_to "This month", '#', :id => "timeline_one_month" %>
      <%= link_to "Last month", '#', :id => "timeline_last_month" %>
      <%= link_to "This year", '#', :id => "timeline_year" %>
      <%= link_to "All time", '#', :id => "timeline_all" %>
    </div>
    <div id="calendar">
      <div id="budgets_timeline"></div><br />
      <%= form_tag budgets_path, :method => "get", :id => "budgets_search", :class => "hidden" do %>
        <%= text_field_tag :budgets_start, params[:budgets_start] %>
        <%= text_field_tag :budgets_end, params[:budgets_end] %>
        <%= submit_tag "Search", :id => "budgets_search" %>
      <% end %>
    </div>
  </div>

  <div id="result">
    <%= render 'budgets' %>
  </div>

  <%= link_to "View all Budgets", list_budgets_path %>
</div>
