<div class="block right tabbed about active">
  <h4>About you</h4>
  <dl>
    <dt>Age</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Gender</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Marital status</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Education level</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Credit scope</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Profession</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>

  <h4>Your houshold</h4>
  <dl>
    <dt>Income range</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Zip code</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Country</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Residential status</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
  <dl>
    <dt>Household size</dt>
    <dd></dd>
    <dd class="edit"><%= link_to 'Edit', '#', :class => "edit" %></dd>
  </dl>
</div>
