<h1>Your profile page</h1>

<div class="block">
  First name: <%= @user.first_name %><br />
  Last name: <%= @user.last_name %><br />
  Email: <%= @user.email %><br />
  Phone number: <%= @user.phone_number %><br />
  Country: <%= @user.country %>
  <br /><br />
  <%= link_to "Edit profile", edit_user_path(@user) %>
</div>
