<h1>Profile</h1>

<%= render :partial => 'user_profile_menu' %>

<%= render :partial => 'user_about' %>
<%= render :partial => 'user_settings' %>
<%= render :partial => 'user_email' %>
<%= render :partial => 'user_accounts' %>
<%= render :partial => 'user_hidden_accounts' %>
<%= render :partial => 'user_delete_account' %>

<%= link_to "Edit profile", edit_user_path(@user) %><br /><br />
