<div id="by_category_partial" class="active">
  <div class="spending_container svg bubble-info active">
    <% if @spending_transactions.any? %>
      <% categorized_spending(@spending_transactions).each do |key, value| %>
        <%= key %> |
        <%= (sprintf("%.3f", (value / @spending_amount)).to_f * 100).to_f %>%<br />
      <% end %>
    <% else %>
      You do not have any spending transactions in this period.
    <% end %>

    <div class="hidden data"><%= categorized_spending(@spending_transactions).map{ |key, val| val}.join(",") %></div>
    <div class="hidden data-sum"><%= @spending_amount %></div>
  </div>

  <div class="income_container svg bubble-info by_category">
    <% if @income_transactions %>
      <% categorized_income(@income_transactions).map do |key, val| %>
        <%= [key] %> &ndash; <%= val %><br />
      <% end %>
    <% else %>
      You do not have any income transactions in this period.
    <% end %>
    <div class="hidden data"><%= categorized_income(@income_transactions).map{ |key, val| val}.join(',') %></div>
    <div class="hidden data-sum"><%= @income_amount %></div>
  </div>

  <div class="net_income_container svg bubble-info by_category" style="vertical-align: top;">
    Your income $<%= @income_amount %><br />
    Your spending $<%= @spending_amount %><br />
    <div class="hidden data"><%= @income_amount %>,<%= @spending_amount %></div>
    <div class="hidden data-sum"><%= @income_amount + @spending_amount %></div>
  </div>

  <div class="assets_container svg bubble-info by_category">
    No assets now
  </div>

  <div class="debts_container svg bubble-info by_category">
    No debts now
  </div>

  <div class="net_worth_container svg bubble-info by_category">
    No Net Worth now
  </div>
</div>
