<div id="over_time_partial">
  <div class="spending_container svg bubble-info">
    <% if @spending_transactions.any? %>
      <% monthly(@spending_transactions).map do |key, val| %>
        <%= Date::MONTHNAMES[key] %> &ndash; <%= val %><br />
      <% end %>
    <% else %>
      You do not have any spending transactions.
    <% end %>
    <div class="hidden spending json"><%= @spending_over_time_json.to_json %></div>
  </div>

  <div class="income_container svg bubble-info by_category">
    <% if @income_transactions.any? %>
      <% monthly(@income_transactions).map do |key, val| %>
        <%= Date::MONTHNAMES[key] %> &ndash; <%= val %><br />
      <% end %>
    <% else %>
      You do not have any income transactions.
    <% end %>
    <div class="shidden income json"><%= @income_over_time_json.to_json %></div>
  </div>

  <div class="net_income_containe svg bubble-info by_category" style="vertical-align: top;">
    <% if @income_transactions.any? %>
      Income:<br />
      <% monthly(@income_transactions).each do |key,val| %>
        <%= Date::MONTHNAMES[key] %> &ndash; $<%= val %><br />
      <% end %>
    <% end %><br /><br />
    Spending:<br />
    <% if @spending_transactions.any? %>
      <% monthly(@spending_transactions).each do |key,val| %>
        <%= Date::MONTHNAMES[key] %> &ndash; $<%= val %><br />
      <% end %>
    <% end %>
  </div>

  <div class="assets_containe svg bubble-info by_category">
    No assets now
  </div>

  <div class="debts_containe svg bubble-info by_category">
    No debts now
  </div>

  <div class="net_worth_containe svg bubble-info by_category">
    No Net Worth now
  </div>
</div>
