<!--
  TODO change word 'category' with JS on the selected word
-->
<h4>Spending by <span id="spend_by">category</span></h4>
<menu>
  <ul id="main_filter">
    <li class="active"><%= link_to "Spending", '#' %></li>
    <li><%= link_to "Income", '#' %></li>
    <li><%= link_to "Net income", '#' %></li>
    <li><%= link_to "Assets", '#' %></li>
    <li><%= link_to "Debts", '#' %></li>
    <li><%= link_to "Net worth", '#' %></li>
  </ul>
  <ul id="sub_filter">
    <li><%= link_to "Over Time", '#' %></li>
    <li><%= link_to "By Category", '#' %></li>
    <li><%= link_to "By Merchant", '#' %></li>
    <li><%= link_to "By Tag", '#' %></li>
  </ul>
</menu>
