<h1>Trends</h1>

<div class="block" id="trends">
  <div id="trends_calendar">
    <div id="period">November - December, 2011</div>
    <div class="predefined">
      <%= link_to "This month", '#' %>
      <%= link_to "Last month", '#' %>
      <%= link_to "This year", '#' %>
      <%= link_to "All time", '#' %>
    </div>
    <div id="calendar">
      <%= image_tag "calendar(remove).png", :style => "width:920px;" %>
    </div>
  </div>

  <div id="graph">
    <%= render :partial => 'trends_menu' %>
    <%= image_tag "bubbles(removed).png", :title => "title", :class => "class" %>
  </div>

  <div id="report">
    <h4>Report</h4>

    <div id="base_report">
      <p>
        $610.58<span>at Saks</span>
        <span class="info">Top Merchant</span>
      </p>
      <p>
        3<span>at Chipotle</span>
        <span class="info">Most Purchases</span>
      </p>
      <p>
        $610.58<span>Saks</span>
        <span class="info">Most Expensive per Visit</span>
      </p>
    </div>

    <%= render :partial => 'sub_category_data' %>

  </div>
</div>