<h1>Trends</h1>

<div class="block" id="trends">
  <div id="trends_calendar">
    <div class="tl-months"></div>
    <div class="predefined">
      <%= link_to "This month", '#' %>
      <%= link_to "Last month", '#' %>
      <%= link_to "This year", '#' %>
      <%= link_to "All time", '#' %>
    </div>
    <div id="calendar">
      <div id="timeline"></div><br />
      <%#= image_tag "calendar(remove).png", :style => "width:920px;" %>
      <%= form_tag trends_path, :method => "get", :id => "trends_search" do %>
        <%= text_field_tag :trends_start, params[:trends_start] %>
        <%= text_field_tag :trends_end, params[:trends_end] %>
        <%= submit_tag "Search", :id => "trends_search" %>
      <% end %>
    </div>
  </div>

  <div id="graph">
    <%= render :partial => 'trends_menu' %>
    <%#= image_tag "bubbles(removed).png", :title => "title", :class => "class" %>

    <div id="trends_statistic" class="">
      <%= render :partial => 'trends' %>
    </div>
  </div>

  <div id="report">
    <h4>Report</h4>
    <%= render :partial => 'base_report' %>
    <%= render :partial => 'sub_category_data' %>
  </div>
</div>