<h1>Trends</h1>

<div class="block" id="trends">
  <div id="trends_calendar">
    <div id="period">November - December, 2011</div>
    <div class="predefined">
      <%= link_to "This month", '#' %>
      <%= link_to "Last month", '#' %>
      <%= link_to "This year", '#' %>
      <%= link_to "All time", '#' %>
    </div>
    <div id="calendar">
      <%= image_tag "calendar(remove).png", :style => "width:920px;" %>
    </div>
  </div>

  <div id="graph">
    <%= render :partial => 'trends_menu' %>
    <%= image_tag "bubbles(removed).png", :title => "title", :class => "class" %>

    <div id="spending_container" class="bubble-info active">
      Spending transactions<br />
      <% categorized_spending(@spending_transactions, current_user).each do |spending| %>
        <%= spending[0] %> |
        <%= percentage(spending[1] / current_user.spending_amount) %>%<br />
      <% end %>
    </div>

    <div id="income_container" class="bubble-info">
      <%= categorized_income(@income_transactions)[0] %> |
      <%= categorized_income(@income_transactions)[1] %>
    </div>

    <div id="net_income_container" class="bubble-info">
      Your income $<%= current_user.total_income %><br />
      Your spending $<%= current_user.spending_amount %>
    </div>

    <div id="assets_container" class="bubble-info">
      No assets now
    </div>

    <div id="debts_container" class="bubble-info">
      No debts now
    </div>

    <div id="net_worth_container" class="bubble-info">
      No Net Worth now
    </div>
  </div>

  <div id="report">
    <h4>Report</h4>

    <div id="base_report">
      <p>

        $<%= @top_merchant[1] %><span> at <%= @top_merchant[0] %></span>
        <span class="info">Top Merchant</span>
      </p>
      <p>

        <%= @most_purchased[1] %><span> at <%= @most_purchased[0] %></span>
        <span class="info">Most Purchases</span>
      </p>
      <p>
        $<%= @most_expensive.amount %><span> at <%= @most_expensive.description %></span>
        <span class="info">Most Expensive per Visit</span>
      </p>
    </div>
    <!--
      TODO shoul be calculated
    -->
    <%= render :partial => 'sub_category_data' %>

  </div>
</div>