.title
  Your
  %span Fun, Free & Fast
  %br
  way to organize your money

.form
  = link_to "Get invited", '#', class: 'get_invited'
  %p= link_to_rpx "Already a member?", user_session_url

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    %span.line.dear Dear 24-7,
    %span.line
      My name is
      = f.text_field :first_name, type: 'text'
      and my email addres is
    %span.line
      = f.text_field :email, type: 'email'
      \. Please let me know when Budget 24-7
    %span.line
      is ready for me.

    .actions
      = f.submit 'Request invite'
    %span.watermark

:javascript
  $('.get_invited').click(function() {
    $(this).parents('.form').addClass('active');
    $('body').animate({
      scrollTop: $('#wrapper .title').offset().top + 50 + 'px'
    }, 1000)
  })

<script type="text/javascript" src="/assets/cluster.js"></script>
