<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Category:</b>
  <%= @goal.category %>
</p>

<p>
  <b>Amount:</b>
  <%= @goal.amount %>
</p>

<p>
  <b>Planned date:</b>
  <%= @goal.planned_date %>
</p>

<p>
  <b>Contribution:</b>
  <%= @goal.contribution %>
</p>

<p>
  <b>Todays balance:</b>
  <%= @goal.todays_balance %>
</p>

<% if @goal.accounts.any? %>
  <p>
    <b>Accounts:</b>
    <table>
      <thead>
        <tr>
          <th>Account</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @goal.accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </p>
<% end %>


<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
