!!!
%html
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = render :partial => 'layouts/webreep'
    = render :partial => 'layouts/typekit'
    = csrf_meta_tags
  %body
    #container.container_24
      = render :partial => 'layouts/header'
      
      .clear

      = yield
