!!!
%html
  %head
    %title Budget 24-7
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = javascript_include_rpx(user_session_url)

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  %body#public
    #main
      %header
        %h1#to_cluster BUDGET 24-7
        %span Plan your Finances... Socially.
      #wrapper
        = yield
      %footer
        Another really helpful service brought to you by the insanely
        = link_to "talented team", "#"
        at
        = link_to "Bellerophon", "#"

= javascript_include_tag 'cluster.js'
