<div class="block right tabbed <%= account.id %>">
  <h4><%= account.name %></h4>

  <div class="totals">
    <div class="cash">
      <%= account.transactions.by_category('income').map(&:amount).sum %>
      <span>Total cash, $</span>
    </div>
    <div class="debt">
      &ndash; <%= account.transactions.spending_transactions.map(&:amount).sum %>
      <span>Total debt, $</span>
    </div>
  </div>

  <div class="date sort">Date</div>
  <div class="desc sort">Description</div>
  <div class="category sort">Category</div>
  <div class="amount sort">Amount, $</div>
  <% account.transactions.each do |transaction| %>
    <div class="transaction">
      <div class="date">
        <%=l transaction.created_at, :format => :short %>
      </div>
      <div class="desc">
        <%= transaction.description %>
      </div>
      <div class="category">
        <%= transaction.category %>
      </div>
      <div class="amount">
        <%= transaction.amount %>
      </div>
      <%= link_to "Edit", '#', :class => "edit" %>
    </div>
  <% end %>
</div>
