<div class="block right tabbed all active">
  <h4>All accounts</h4>

  <div class="totals">
    <div class="cash">
      <%= @income_amount %>
      <span>Total cash, $</span>
    </div>
    <div class="debt">
      &ndash; <%= @spending_amount %>
      <span>Total debt, $</span>
    </div>
  </div>

  <table class="transactions-table">
    <thead>
      <tr>
        <th class="date sort"><%= sortable "created_at", "Date" %></th>
        <th class="description sort"><%= sortable "description" %></th>
        <th class="category sort"><%= sortable "category" %></th>
        <th class="amount sort"><%= sortable "amount" %></th>
        <th class="edit"></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <tr class="item_<%= transaction.id %> transaction edited-item">
          <td class="date">
            <%=l transaction.created_at, :format => :short %>
          </td>
          <td class="description">
            <%= transaction.description %>
          </td>
          <td class="category">
            <%= transaction.category %>
          </td>
          <td class="amount">
            <%= transaction.amount %>
          </td>
          <td class="edit">
            <%= link_to "Edit", '#', :class => "edit" %>
          </td>
        </tr>
        <tr class="hidden">
          <td colspan='4'>
            <%= render :partial => 'transaction_form', :locals => {:transaction => transaction, :account => transaction.account} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
