<h5>Results</h5>
<p>
  <% if @searched_banks.any? %>
    <% @searched_banks.each_with_index do |bank, index| %>
      <div class="popular-bank">
        <span>
          <%= index + 1 %>.
        </span>
        <%= link_to bank.name, '#' %>
        <%= form_tag accounts_path, :method => "get", :class => "hidden new-account-form" do %>
          <%= text_field_tag :selected_bank_id, bank.id %>
          <%= submit_tag "submit" %>
        <% end -%>
      </div>
    <% end %>
  <% else %>
    There are no banks
  <% end %>
</p>
