<%= form_for(@account) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field" style="display:inline-block;">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="field" style="display:inline-block;">
    <%= f.label :status %><br />
    <%= f.select :status, Account::ACCOUNT_STATUSES %>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="field" style="display:inline-block;">
    <%= f.label :bank %><br />
    <%= collection_select(:account, :bank_id, Bank.all, :id, :name, {}, {:class => "chosen"}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
