<%= form_for transaction, :remote => true do |f| -%>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="date">
    <%= f.text_field :created_at, :value => transaction.created_at.strftime('%b %d') %>
  </div>
  <div class="desc">
    <%= f.text_field :description %>
  </div>
  <div class="category">
    <%= f.text_field :category %>
  </div>
  <div class="amount">
    <%= f.text_field :amount %>
  </div>
  <dl>
    <dt>Details:</dt>
    <dd>
      You entered this <%= transaction.category %> transaction at <%=l transaction.created_at, :format => :short %>
    </dd>
  </dl>
  <dl>
    <dt><%= f.label :note, "Notes" %></dt>
    <dd>
      <%= f.text_area :note, :rows => 5 %>
    </dd>
  </dl>

  <div class="buttons">
    <%= f.submit 'Save' %>
    <%= link_to "Cancel", '#', :class => "cancel" %>
  </div>
<% end -%>
