<h1>Accounts - Transactions</h1>

<div class="block accounts">
  <div id="accounts">
    <h4>Accounts</h4>

    <div id="accounts_list">
      <%= link_to "All accounts", "#" %>
      <% @accounts.each do |account| %>
        <%= link_to account.name, '#' %>
      <% end %>

      <%= form_tag accounts_path, :method => "get", :class => "hidden" do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
      <% end -%>
    </div>

    <br />

    <%= link_to "View all accounts", list_accounts_path %> or <%= link_to 'Create New Account', new_account_path %>
  </div>

  <div id="transactions">
    <h4>Transactions for <i>"<%= @account_name %>"</i></h4>
    <div class="transactions_list">
      <% @transactions.each do |transaction| %>
        <%=l transaction.created_at, :format => :short %> |
        <%= transaction.description %>
        <%= transaction.amount %><br />
      <% end %>
      <hr />
      Total amount: <%= @transactions.map{ |tr| tr.amount}.sum %>
    </div>
  </div>

  <br class="clear" />
</div>
