<h1>Accounts</h1>

<div class="block accounts">
  <h2>Accounts</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.status %></td>
      <td><%= link_to 'Show', account %></td>
      <td><%= link_to 'Edit', edit_account_path(account) %></td>
      <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Account', new_account_path %>
</div>

<div class="block transactions">
  <h2>Transactions</h2>
</div>